<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>
<div class="container">
    <ul class="collection">
        <li class="collection-item avatar" *ngFor="let itx of materials">
            <div class="row">
                <div class="col s6 m6">
                    <i class="material-icons circle green">insert_chart</i>
                    <span class="title">{{itx.name}}</span>
                    <p>Precio por kilo: <br>
                        {{itx.price}}
                    </p>

                </div>
                <div class="col s6 m6">
                    <span class="title">Compra total: {{itx.totaltransacciones}}</span>
                    <p>Transacciones: <br>
                        {{itx.transacciones}}
                    </p>
                </div>
            </div>
            <div class="secondary-content">
                <a href="#!" (click)="delete(itx.id)" class="tooltipped" data-position="left" data-tooltip="Eliminar un material que asociado a una transaccion,<br> generara un error"><i
                        class="material-icons red-text">delete</i></a>
            </div>
        </li>
    </ul>
</div>
<div id="addMaterialModal" class="modal">
    <div class="modal-content">
        <h4>Añadir material</h4>
        <select required [(ngModel)]="material" class="browser-default">
            <option value="" disabled selected>Elige el material</option>
            <option *ngFor="let itx of availableMaterials;index as i" value="{{itx.id}}">{{itx.name}}</option>
        </select>
    </div>
    <div class="modal-footer">
        <a href="#!" (click)="addMaterial()" class="waves-effect waves-green btn">Añadir</a>
        <a href="#!" class="modal-close waves-effect waves-red btn">Cancelar</a>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red" href="#!" (click)="addMaterialModal()">
        <i class="large material-icons">add</i>
    </a>
</div>