<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>
<div class="container">
    <div class="col s12 m7">
        <h2 class="header">Aluminio</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLlAV1hvgHnSFk045Tz2Hr8O2bJNdovHSCpj00T2GgIB34gf3Npg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Se comprará aluminio en buen estado, tendrá que estar debidamente compactado antes de pesarse. 
                  Verficar que no haya nada dentro de lata y contenedores que pudieran afectar al peso.</p>
            <h1>$20.00 por kilo</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m7">
            <h2 class="header">Papel</h2>
            <div class="card horizontal">
              <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt7IxKMTkDwnBxbZUxO8wQPhV672c0I6f_55-M0jisFVef4dai">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <p>Se comprará todo tipo de papel al mismo precio, no importando su composición. 
                        No se aceptará papel de baño usado o papel sacado de la basura, que esté contaminado.
                      En caso de libretas, se quitará el espiral y se pesarán las hojas solamente.</p>
                <h1>$10.00 por kilo</h1>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m7">
                <h2 class="header">Vidrio</h2>
                <div class="card horizontal">
                  <div class="card-image">
                    <img src="http://www.traperosemausves.com/img/reciclaje-vidrio.png" height="200" width="200">
                  </div>
                  <div class="card-stacked">
                    <div class="card-content">
                      <p>Se aceptará todo tipo de vidrio, siempre y cuando esté completo, es decir, no pedacería ni
                          añicos de vidrio, sino piezas completas. En el caso de las botellas, se revisará que no contengan nada
                          en su interior que pueda afectar al peso final. 
                      </p>
                    <h1>$12.00 por kilo</h1>
                    </div>
                  </div>
                </div>
              </div>
</div>
