<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>

<div class="container">
            <div class="row">
                <div class="col s3 offset-s9 red darken-2"><span class="flow-text" align="left">Total: ${{total}}</span></div>
            </div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Cantidad (kgs)</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr *ngFor="let itx of transacciones">
                        <td>{{itx.material.name}}</td>
                        <td>{{itx.weight}}</td>
                        <td>{{itx.total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
