<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>

<div class="container">
            <div class="row">
                <div class="col s3 offset-s9 red darken-2"><span class="flow-text" align="left">Total: $127.50</span></div>
            </div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Material</th>
                        <th>Cantidad (kgs)</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr>
                        <td>Aluminio</td>
                        <td>1.25</td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>Vidrio</td>
                        <td>2.5</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>Papel</td>
                        <td>0.75</td>
                        <td>7.50</td>
                    </tr>
                    <tr>
                        <td>Aluminio</td>
                        <td>3</td>
                        <td>60</td>
                    </tr>
                    <tr>
                        <td>Papel</td>
                        <td>0.5</td>
                        <td>5</td>
                    </tr>
                </tbody>
            </table>
        </div>
