<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>
<div class="container">
    <div class="col s12 m7">
      
      ESTO DEBE ESTAR EN UN NGFOR PARA MOSTRAR TODOS LOS CARDS DE LOS ITEMS DE LA OFICINA
        <h2 class="header">PRODUCTO.NAME</h2>
        <div class="card horizontal">
          <div class="card-image">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLlAV1hvgHnSFk045Tz2Hr8O2bJNdovHSCpj00T2GgIB34gf3Npg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>PRODUCTO.DESCRIPCION</p>
            <h1>PRODUCTO.PRECIO $</h1>
            </div>
          </div>
        </div>
      </div>
</div>
