<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>

<body>
    <div class="container">
            <div class="row">
                <div class="col s3 offset-s9 red darken-2"><span class="flow-text" align="left">Total: $370.00</span></div>
            </div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Transacción</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr>
                        <td>Detergente Ace 1 kg</td>
                        <td>3</td>
                        <td>$61</td>
                    </tr>
                    <tr>
                        <td>Papel de Baño Pétalo 24 rollos</td>
                        <td>1</td>
                        <td>$32</td>
                    </tr>
                    <tr>
                        <td>Lata Frijol La Sierra 500 grs</td>
                        <td>2</td>
                        <td>$30</td>
                    </tr>
                    <tr>
                        <td>Desodorante AXE 400 ml</td>
                        <td>4</td>
                        <td>$150</td>
                    </tr>
                    <tr>
                        <td>Sopa Maruchan Camarón</td>
                        <td>10</td>
                        <td>$100</td>
                    </tr>
                </tbody>
            </table>
        </div>
</body>
