<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>

<body>
    <div class="container">
            <div class="row">
                <div class="col s3 offset-s9 red darken-2"><span class="flow-text" align="left">Total: ${{total}}</span></div>
            </div>
            <table class="highlight">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Transacción</th>
                    </tr>
                </thead>
                    
                <tbody>
                    <tr *ngFor="let item of transacciones">
                        <td>
                            <app-table-row [contenido]="item.item.name"></app-table-row>
                        </td>
                        <td>
                            <app-table-row [contenido]="item.quantity"></app-table-row>
                        </td>
                        <td>
                            <app-table-row [contenido]="item.getTotal()"></app-table-row>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
</body>
