<app-top-bar></app-top-bar>
<app-side-menu></app-side-menu>

    <div class="container">
            <div class="row">
                <div class="col s3 offset-s9 red darken-2"><span class="flow-text" align="left">Total: ${{total}}</span></div>
            </div>
            <table class="highlight striped">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Transacción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itx of transacciones">
                        <td>{{itx.item.name}}</td>
                        <td>{{itx.quantity}}</td>
                        <td>$ {{itx.getTotal()}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
